header {
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    background: transparent;
    position: relative;
}

.logo {
    width: 9rem;
}

.navigation a {
    padding: 0 15px;
    text-decoration: none;
    color: white;
}

@media (max-width: 767px) {
    header {
        display: block;
    }

    .logo {
        margin: 0 auto;
        display: block;
    }

    .navigation {
        margin-bottom: 20px;
    }
}
