.banner {
    background: url(./banner.png);
    height: 800px;
    background-size: cover;
    margin-top: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

@media (max-width: 767px) {
    .banner {
        margin-top: -130px;
        background-position: 20%;
    }
}

.banner h1 {
    font-size: 5rem;
    margin: 0;
}

.banner h3 {
    font-size: 2rem;
    margin: 0 0 20px;
}

.banner .icon {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.banner .date,
.banner .location {
    padding: 10px 20px;
}

.banner .button-group {
    margin-top: 2rem;
}

.banner .button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
}

.banner .button .icon {
    width: 1rem;
}

.banner .button.submit-here .icon {
    padding-bottom: 5px;
}

@media (max-width: 425px) {
    .banner .button {
        display: block;
        margin-bottom: 10px;
        padding: 3px 20px;
    }
}