.about {
    display: flex;
}

.about .desc {
    padding-right: 10px;
}

.about > div {
    flex-basis: 50%;
}

.about .full-image {
    width: 100%;
}

.about img {
    max-width: 100%;
    border: 1px solid #83ba81;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }
}
