.day-wise-schedule {
    width: 400px;
    margin: 10px 30px;
    box-shadow: 0 0 40px 10px #e0e0e0;
}

@media (max-width: 767px) {
    .day-wise-schedule {
        margin: 0 0 1rem;
        width: auto;
    }

}

.day-wise-schedule .schedule-header {
    background: #83ba81;
    padding: 13px 10px;
    color: #fff;
}

.day-wise-schedule .schedule-header .header-image {
    width: 25px;
}

.day-wise-schedule .schedule-header .day {
    font-size: 1.7rem;
    margin: 0 5px;
}

.day-wise-schedule .event {
    display: flex;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-left-width: 2px;
    border-right-width: 2px;
    float: none;
    clear: both;
    padding: 10px 30px;
    background: #fff;
}

.day-wise-schedule .event .speaker-icon {
    width: 30px;
    float: left;
}

.day-wise-schedule .event .details {
    margin-left: 10px;
}

.day-wise-schedule .event .speaker {
    color: #f75d5d;
}

.day-wise-schedule .event .time {
    font-size: .8rem;
}

.day-wise-schedule .event .topic {
    display: block;
    font-size: .9rem;
    font-weight: bold;
    padding-top: 5px;
}
