.event-schedule {
    background: #f9fafa;
}

.event-schedule__details {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .event-schedule {
        flex-direction: column;
    }
}