body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 2rem 6rem;
}

.container::after,
.clearfix::after {
    content: '';
    display: table;
    float: none;
    clear: both;
}

@media (max-width: 767px) {
    .xs-full {
        display: block;
        width: 100%;
    }

    .container {
        padding: 1rem;
        margin: 0 auto;
    }
}

* {
    box-sizing: border-box;
}

.col-50 {
    width: 50%;
}

.section-heading {
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #83ba81;
    display: inline-block;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
