.agenda {
    background: #f3f3f3;
    text-align: center;
}

.agenda__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.agenda__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 210px;
    float: left;
    padding: 50px;
    background: white;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0 0 3px #b9b6b6;
}

.agenda__item img {
    width: 50px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .agenda.container {
        padding: 2rem 0;
    }
}
